<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en"  class='custom-scrollbar'>
    <body>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        xxxx
    </body>
</html>
