<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en"  class='custom-scrollbar'>
    <body>
        <h1><%= title %></h1>
        <a href="/">Home</a>
        <br/>
        <h2>
            <strong>操作</strong>
        </h2>
        <p>
            <strong>1.复制word中的图片，粘贴（ctrl+v）到编辑框中，得到如下图片：<br/></strong>
        </p>
        <p>
            <strong><img src="/images/guide1.png" width="550" height="251" style="width: 550px; height: 251px;"/></strong>
        </p>
        <p>
            <strong><br/></strong>
        </p>
        <p>
            <strong>2.打开本地应用，确保运行良好，并且8888端口未被其他应用占用</strong>
        </p>
        <p>
            <strong><img src="/images/guide2.png" width="550" height="406" style="width: 550px; height: 406px;"/></strong>
        </p>
        <p>
            <strong>3.点击编辑框中wordImage按钮，文件会自动上传并替换</strong>
        </p>
        <p>
            <strong><img src="/images/guide3.png" width="550" height="318" style="width: 550px; height: 318px;"/></strong>
        </p>
        <p>
            <strong>4.上传失败的情况下，可点击WordImage按钮继续上传此前上传失败的图片</strong>
        </p>
        <p>
            <strong>注</strong>：F1看Log， F2开DevTools
        </p>
        <a href="/">Home</a>
        <br/>
    </body>
</html>